﻿@{
    ViewData["Title"] = "Batch Lab Two";
}

<h2>PaaS Dev Batch Lab Two</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/Walter-B-Jr/Azure_Batch_Assessment_02/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the program.cs file.
    </li>
    <li>
        Replace the existing storage connection string with the below connection string

        <table>
            <tr>
                <td>BatchUrl</td>
                <td>@ViewBag.BatchUrl</td>
            </tr>
            <tr>
                <td>BatchKey</td>
                <td>@ViewBag.BatchKey</td>
            </tr>
            <tr>
                <td>BatchName</td>
                <td>@ViewBag.BatchName</td>
            </tr>
            <tr>
                <td>StorageKey</td>
                <td>@ViewBag.StorageKey</td>
            </tr>
            <tr>
                <td>StorageName</td>
                <td>@ViewBag.StorageName</td>
            </tr>
        </table>

    </li>

</ol>
