﻿
@{
    ViewData["Title"] = "ServiceBus Lab One";
}

<h2>ServiceBus Lab One</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/jaganth/SBCert-L200-Lab1/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the program.cs file.
    </li>
    <li>
        Replace the existing ServiceBus connection string with the below connection string

        <table id="connstr">
            <tr>
                <th>KEY</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>ConnectionString</td>
                <td>@ViewBag.sbConnectionString</td>
            </tr>
            <tr>
                <td>ServiceBus Name</td>
                <td>@ViewBag.sbName</td>
            </tr>
        </table>
    </li>
    <li>
        The solution will send a message and should output "Receiving Message ..." when the message is received.<br />
        When you run the code you will NOT see the "Receiving Message ..." output. <br />
        This assessment requires you find out whats wrong and fix the code/configuration so that you see the 'Receiving message..." trace. <br />
        Please provide the exact change in config or code and a screen shot of the correct expected output.
    </li>
</ol>

