﻿
@{
    ViewData["Title"] = "ServiceBus Lab Three";
}

<h2>ServiceBus Lab Three</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/jaganth/SBCert-L200-Lab3/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the program.cs file.
    </li>
    <li>
        Replace the existing ServiceBus connection string with the below connection string

        <table id="connstr">
            <tr>
                <th>KEY</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>ConnectionString</td>
                <td>@ViewBag.sbConnectionString</td>
            </tr>
            <tr>
                <td>ServiceBus Name</td>
                <td>@ViewBag.sbName</td>
            </tr>
        </table>
    </li>
    <li>
        The code with return an error with message "System.InvalidOperationException: It is not possible for an entity that requires sessions to create a non-sessionful message receiver". <br />
        Why is this? <br />
        How would you fix this either by changing the code or through configuration so this exception is not generated.<br />
        Please provide the exact change in config or code and a screen shot of the correct expected output.
    </li>
</ol>

