﻿
@{
    ViewData["Title"] = "ServiceBus Lab Two";
}

<h2>ServiceBus Lab Two</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/jaganth/SBCert-L200-Lab2/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the program.cs file.
    </li>
    <li>
        Replace the existing ServiceBus connection string with the below connection string

        <table id="connstr">
            <tr>
                <th>KEY</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>ConnectionString</td>
                <td>@ViewBag.sbConnectionString</td>
            </tr>
            <tr>
                <td>ServiceBus Name</td>
                <td>@ViewBag.sbName</td>
            </tr>
        </table>
    </li>
    <li>
        The output of the code with show 3 messages being sent and only 1 messages received. <br />
        Why is this? <br />
        How would you fix this either by changing the code or through configuration so that for the 3 messages sent, you receive 3 messages. <br />
        Please provide the exact change in config or code and a screen shot of the correct expected output.
    </li>
</ol>

