﻿
@{
    ViewData["Title"] = "CDN Lab Four";
}

<h2>CDN Lab Four</h2>

<h1>@ViewBag.Message</h1>

@*<table class="table">
    <tr>
        <th>Purge</th>
    </tr>
    <tr>
        <td>
            <a href="@ViewBag.URL" target="_blank">Purge CDN Content</a>
        </td>
    </tr>
    <tr>
        <td>
            <ol>
                <li>Click on above link </li>
                <li>Click on the <b>Actions (POST. DELETE)</b> tab </li>
                <li>Click on the <b>purge</b> blue button to purge </li>
            </ol>
        </td>
    </tr>

</table>*@




<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <ul>
                <li>
                    Please open PowerShell in Admin mode
                    <ol>
                        <li>Hit Start, type PowerShell</li>
                        <li>
                            Right click on Windows PowerShell and select <b>run as admin</b> as shown below
                        </li>
                    </ol>
                </li>
                <li>
                    Run this below cmd <input type="button" class="btn btn-link" onclick="copyResUrlToClipboard('url')"
                                              value="Copy to Clipboard" />

                    <div class="alert-danger">
                        Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))
                    </div>

                </li>
            </ul>


        </div>
    </div>

</div>

<hr />


<table class="table">
    <tr>
        <th>purge this image</th>
    </tr>
    <tr>
        <td><img src="@ViewBag.ImageTwo" /></td>
    </tr>
</table>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>

<script type="text/javascript" language="javascript">
  

    copyResUrlToClipboard = (text) => {
        var textField = document.createElement('textarea');
        textField.innerText = "Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))";
        document.body.appendChild(textField);
        textField.select();
        if (document.execCommand('copy')) {
            //done
        }
        else {
            console.error("document.execCommand('copy') returned false. " +
                "Your browser may not support this feature or clipboard permissions don't allow it. " +
                "See http://caniuse.com/#feat=document-execcommand.");
        }
        textField.remove();
    };

</script>
