﻿
@{
    ViewData["Title"] = "PaaSDev.L200.CDN.2";
}

<h2>PaaSDev.L200.CDN.2</h2>

<h1>@ViewBag.Message</h1>


<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <ul>
                <li>
                    Please open PowerShell in Admin mode
                    <ol>
                        <li>Hit Start, type PowerShell</li>
                        <li>
                            Right click on Windows PowerShell and select <b>run as admin</b> as shown below
                        </li>
                    </ol>
                </li>
                <li>
                    Run this below cmd <input type="button" class="btn btn-link" onclick="copyResUrlToClipboard('url')"
                                              value="Copy to Clipboard" />

                    <div class="alert-danger">
                        Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))
                    </div>

                </li>
            </ul>


        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="driver" class="btn btn-info"
                   value="Get data from CDN" />
        </div>
    </div>

    @*<br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <img src="~/images/AdminPowerShell.png" />
        </div>
    </div>*@
</div>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>

<script type="text/javascript" language="javascript">
         $(document).ready(function() {

            $("#driver").click(function(event){
               $.get(
                  "@ViewBag.DocURLTwo",
                   function (data, status, xhr) {
                    //   alert("STATUS: " + status + " XHR: " +xhr +  " DATA: " + data)
                       if (status == "success") {
                           var ct = xhr.getResponseHeader("content-encoding") || "";
                           if (ct.indexOf('zip') > -1) {
                               alert("Successful! Response from CDN is compressed.");
                           }
                           else {
                               alert("Failed! Response from CDN is NOT compressed. Why?");
                           }
                       }
                       else {
                           alert("Failed. Call to CDN failed.");
                       }

                  }
               );
            });

    });

    copyResUrlToClipboard = (text) => {
        var textField = document.createElement('textarea');
        textField.innerText = "Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))";
        document.body.appendChild(textField);
        textField.select();
        if (document.execCommand('copy')) {
            //done
        }
        else {
            console.error("document.execCommand('copy') returned false. " +
                "Your browser may not support this feature or clipboard permissions don't allow it. " +
                "See http://caniuse.com/#feat=document-execcommand.");
        }
        textField.remove();
    };
</script>
