﻿
@{
    ViewData["Title"] = "CDN Lab Three";
}

<h2>CDN Lab Three</h2>

<h1>@ViewBag.Message</h1>




<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <ul>
                <li>
                    Please open PowerShell in Admin mode
                    <ol>
                        <li>Hit Start, type PowerShell</li>
                        <li>
                            Right click on Windows PowerShell and select <b>run as admin</b> as shown below
                        </li>
                    </ol>
                </li>
                <li>
                    Run this below cmd 
                    
                    <button class="btn" data-clipboard-text="Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))">
                        Copy to clipboard
                    </button>

                    <div class="alert-danger">
                        Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))
                    </div>

                </li>
            </ul>


        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table class="table">
                <tr>
                    <th>Image </th>
                </tr>
                <tr>
                    <td><img src="@ViewBag.ImageTwo" /></td>
                </tr>
            </table>
        </div>
    </div>

    @*<br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <img src="~/images/AdminPowerShell.png" />
            </div>
        </div>*@
</div>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
