﻿
@{
    ViewData["Title"] = "EventHub Lab One";
}

<h2>EventHub Lab One</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/jaganth/EHCert-L200-Lab1/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the program.cs file.
    </li>
    <li>
        Replace the existing EventHub connection string with the below connection string

        <table id="connstr">
            <tr>
                <th>KEY</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>ConnectionString</td>
                <td>@ViewBag.ehConnectionString</td>
            </tr>
            <tr>
                <td>Event Hub Name</td>
                <td>@ViewBag.ehName</td>
            </tr>
        </table>
    </li>
    <li>
        The code will return the error "PartitionCount cannot be changed for EventHub.". <br />
        How do you go about changing the partition count of the event hub? <br />
        Please provide the exact change in config or code and a screen shot of the correct expected output.
    </li>
</ol>

