﻿
@{
    ViewData["Title"] = "EventHub Lab Two";
}

<h2>EventHub Lab Two</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/jaganth/EHCert-L200-Lab2/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the program.cs file.
    </li>
    <li>
        Replace the existing EventHub connection string with the below connection string

        <table id="connstr">
            <tr>
                <th>KEY</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>ConnectionString</td>
                <td>@ViewBag.ehConnectionString</td>
            </tr>
            <tr>
                <td>Event Hub Name</td>
                <td>@ViewBag.ehName</td>
            </tr>
        </table>
    </li>
    <li>
        The output displays the distribution of messages by partition. <br />
        Why does a single partition have all the messages and how can you change the code to ensure event distribution? <br />
        Please provide the exact change in config or code and a screen shot of the correct expected output.
    </li>
</ol>

