﻿
@{
    ViewData["Title"] = "EventHub Lab Three";
}

<h2>EventHub Lab Three</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/jaganth/EHCert-L200-Lab3/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the program.cs file.
    </li>
    <li>
        Replace the existing EventHub connection string with the below connection string

        <table id="connstr">
            <tr>
                <th>KEY</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>ConnectionString</td>
                <td>@ViewBag.ehConnectionString</td>
            </tr>
            <tr>
                <td>Event Hub Name</td>
                <td>@ViewBag.ehName</td>
            </tr>
        </table>
    </li>
    <li>
        Build and run 6 instances of the solution.
    </li>
    <li>
        After a few seconds to a minute you will see the below output scroll by in red lettering. <br />
        How can you fix the below error? <br />
        Please provide the exact change in config or code and a screen shot of the correct expected output.<br />
        Response status code does not indicate success: 503 (Service Unavailable).
    </li>
</ol>

