﻿@{
    ViewData["Title"] = "Redis Lab Three";
}

<h2>PaaS Dev Redis Lab Three</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/MScarno/PaaSDev.L200.Redis.3/archive/master.zip">here</a>
    </li>
    <li>
        Open the solution in Visual Studio then open the App.Config file.
    </li>
    <li>
        Replace the existing Redis connection string with the below connection string

        <input type="button" class="btn btn-link" onclick="copyToClipboard('url')"
               value="Copy to Clipboard" />

        <div class="alert-danger">
            @ViewBag.REDIS
        </div>
        <p>

        </p>
    </li>

</ol>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>

<script type="text/javascript" language="javascript">


    copyToClipboard = (text) => {
        var textField = document.createElement('textarea');
        textField.innerText = "@Html.Raw(ViewBag.REDIS)";
        document.body.appendChild(textField);
        textField.select();
        if (document.execCommand('copy')) {
           //done
        }
        else {
            console.error("document.execCommand('copy') returned false. " +
                "Your browser may not support this feature or clipboard permissions don't allow it. " +
                "See http://caniuse.com/#feat=document-execcommand.");
        }
        textField.remove();
    };
</script>
