﻿@{
    ViewData["Title"] = "Search Lab Three";
}

<h2>PaaS Dev Search Lab Three</h2>

<h1>@ViewBag.Message</h1>

<ol>
    <li>
        Download and unzip lab files from <a href="https://github.com/beroder/PaaSDev.L200.Storage.3/archive/master.zip">here</a>
    </li>
    <li>
        Open the UploadBlob.ps1 and update storage name and storage key
    </li>
    <li>
        Storage Name

        <input type="button" class="btn btn-link" onclick="copyToClipboard('name')"
               value="Copy to Clipboard" />

        <div class="alert-danger">
            @ViewBag.StorageName
        </div>
    </li>
    <li>
        Storage Key

        <input type="button" class="btn btn-link" onclick="copyToClipboard('key')"
               value="Copy to Clipboard" />

        <div class="alert-danger">
            @ViewBag.StorageKey
        </div>
    </li>

</ol>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>

<script type="text/javascript" language="javascript">


    copyToClipboard = (text) => {
        var textField = document.createElement('textarea');

        if (test == 'name') {
            textField.innerText = "@Html.Raw(ViewBag.StorageName)";
        }
        else {
            textField.innerText = "@Html.Raw(ViewBag.StorageKey)";
        }
        document.body.appendChild(textField);
        textField.select();
        if (document.execCommand('copy')) {
           //done
        }
        else {
            console.error("document.execCommand('copy') returned false. " +
                "Your browser may not support this feature or clipboard permissions don't allow it. " +
                "See http://caniuse.com/#feat=document-execcommand.");
        }
        textField.remove();
    };
</script>