﻿
@{
    ViewData["Title"] = "Search Lab One";
}

<h2>PaaS Dev Search Lab One</h2>

<h1>@ViewBag.Message</h1>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h3>Resources Created</h3>
            This lab will create the following resources
            <ol>
                <li>A Resource Group by name <b> @ViewBag.ResourceGroupName </b> </li>
                <li>A Storage Account <b> @ViewBag.StorageName </b> in the same Resource Group </li>
                <li>A table called <strong>Employee</strong> in the Storage Account</li>
            </ol>
            <h3>Scenario</h3>
            Given an Azure Storage table with Employee data, create and use an Azure Search service to search employee interests.
            
            <h3>Your Goal</h3>
            Index the Employee table data using a <strong>basic</strong> tier Azure Search service and query for top 3 employees who list <b>Gardening</b> as one of their interests.

            <h3>Proof of Solution</h3>
            <ol>
                <li>Capture screenshot of Essentials section in overview of search service from portal showing resource group and tier.</li>
                <li>Capture query syntax used and output of search query</li>
                <li>Capture screenshot of resource group deletion</li>
            </ol>

            <div class="alert-danger" style="font-size: 120%">
                <strong>Important!</strong> After completion of the lab :-
                Please make sure to delete all resources you created for this lab. You can go to Resource Group <b>@ViewBag.ResourceGroupName</b> and follow the steps to delete it.
                Leaving resources undeleted will incur an unnecessary cost to your cost center.
            </div>
        </div>
    </div>

</div>
		