﻿
@{
    ViewData["Title"] = "Search Lab Two";
}

<h2>PaaS Dev Search Lab Two</h2>

<h1>@ViewBag.Message</h1>


<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h3>Scenario deployment</h3>
            <ul>
                <li>
                    Please open PowerShell in Admin mode
                    <ol>
                        <li>Hit Start, type PowerShell</li>
                        <li>
                            Right click on Windows PowerShell and select <b>run as admin</b>
                        </li>
                    </ol>
                </li>
                <li>
                    Run this below cmd <input type="button" class="btn btn-link" onclick="copyResUrlToClipboard('url')"
                                              value="Copy to Clipboard" />
                    <div class="alert-danger">
                        Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))
                    </div>

                </li>
            </ul>

            <h3>Resources Created</h3>
            This lab will create the following resources
            <ol>
                <li>A Resource Group by name <b> @ViewBag.ResourceGroupName </b> </li>
                <li>A Storage Account <b> @ViewBag.StorageName </b> in the same Resource Group </li>
                <li>A table called <strong>Employee</strong> in the Storage Account</li>
                <li>A search service <b>@ViewBag.SearchName</b>
                                     <ul>
                                         <li>Datasource : <strong>dsempl</strong></li>
                                         <li>Index : <strong>employee</strong></li>
                                         <li>Indexer : <strong>employeeindexer</strong></li>
                                     </ul>
                </li>
            </ol>
            <h3>Scenario</h3>
            Troubleshooting indexer failure. Customer reports that indexer <strong>employeeindexer</strong> in search service <strong>@ViewBag.SearchName</strong> is failed.

            <h3>Your Goal</h3>
            Using troubleshooting steps from the TSG, determine status of indexer, nature of failure and suggest mitigation.
            
            <h3>Additional Information</h3>
            <ul>    
                <li>Subscription ID : <strong>@ViewBag.SubscriptionID</strong></li>
                <li>ResourceGroup Name : <strong>@ViewBag.ResourceGroupName</strong></li>
                <li>Search Resource Name : <strong>@ViewBag.SearchName</strong></li>
            </ul>

            <h3>Proof of Solution</h3>
            <ol>
                <li>Capture screenshots and output of troubleshooting steps</li>
                <li>Capture mitigation suggestions</li>
                <li>Capture screenshot of resource group deletion</li>
            </ol>

            <div class="alert-info" style="font-size: 120%">
                <strong>Important!</strong> After completion of the lab :-
                Please make sure to delete all resources you created for this lab. You can go to Resource Group <b>@ViewBag.ResourceGroupName</b> and follow the steps to delete it.
                Leaving resources undeleted will incur an unnecessary cost to your cost center.
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" language="javascript">

    copyResUrlToClipboard = (text) => {
        var textField = document.createElement('textarea');
        textField.innerText = "Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('@ViewBag.UrlPS1'))";
        document.body.appendChild(textField);
        textField.select();
        if (document.execCommand('copy')) {
           //done
        }
        else {
            console.error("document.execCommand('copy') returned false. " +
                "Your browser may not support this feature or clipboard permissions don't allow it. " +
                "See http://caniuse.com/#feat=document-execcommand.");
        }
        textField.remove();
    };
    </script>
